// ----------------> ABSTRACT
// @import "./abstract/variables";
// @import "./abstract/generic";
// @import "./abstract/mixins";
// @import "./abstract/form";

// -----------------> COMPONENTS
// @import "./components/header";
// @import "./components/main-btn";
// @import "./components/flex-buttons";
// @import "./components/popup";
// @import "./components/schoolna_info_list";
// --->>> BOARD
// @import "./components/board_main_button";

.container {
  max-width: clamp(300px, 100%, 1220px);
  margin: 0 auto;
  padding-inline: 20px;
}

// home page


// SCHOOLNA GET MORE SECTION
.schoolna_get_more_info {
  position: relative;
  z-index: 3;
  .schoolna_get_more_info_content {
    @include displayFlex();
    .image:first-of-type {
      position: absolute;
      inset-inline-start: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10 0px;
      height: 200px;
      z-index: -1;
      img {
        object-fit: contain;
      }
    }

    .image {
      flex-shrink: 0;
    }
    @media (max-width: 992px) {
      flex-wrap: wrap;
      .image:first-of-type {
        top: 30%;
      }
      .image {
        flex-shrink: 1;
      }
    }
    @media (max-width: 567px) {
      .image:first-of-type {
        display: none;
      }
    }
  }
}

h3.title {
  text-align: center;
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 500;
}

.p-accordionheader-toggle-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 8px;
  background: $mainColor;
  color: #fff !important;
  transform: rotate(180deg);
  @media (max-width: 567px) {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    padding: 3px;
  }
}

// style the schoolna info item in the pages except home , modules
.page .schoolna_info_item {
  .schoolna_info_text {
    // max-width: unset !important;
    flex-grow: 1;
  }
}

// STYLE THE HEADER OF THE FEATURES IN ABOUT PAGE


// HANDLE STYLING SCHOOLNA INFO STYLES IN [ PORTALS , FEATURES , BOARD  ] PAGE
.portals_page,
.board_page {
  .schoolna_info_item {
    .schoolna_info_text {
      max-width: 50% !important;
    }
    &:first-of-type {
      .image {
        background: transparent;
        width: 50%;
        .p-image-preview {
          position: unset;
          box-shadow: unset !important;
          .p-image-preview-mask {
            display: none;
          }
          img {
            object-fit: contain;
          }
        }
      }
      @media (max-width: 767px) {
        // flex-wrap: wrap-reverse;
        .image {
          width: 100%;
        }
      }
    }
  }
  .mockup_section {
    .schoolna_header {
      max-width: clamp(400px, 60%, 700px);
      margin-inline-end: auto;
      .text {
        margin-bottom: 20px;
      }
      h4,
      .text {
        color: #fff;
      }
    }
    @media (max-width: 767px) {
      margin-inline: 20px;
      padding: 0;
      .schoolna_header {
        margin: 0 auto;
      }
      .flex_buttons {
        justify-content: center !important;
        .main-btn {
          max-width: 320px;
          width: 100%;
        }
      }

      .board_main_btn {
        margin-inline: auto;
      }
    }
  }
}

// HANDLE STYLEING SCHOOLNA FEATURES PAGE
.features_page {
  .schoolna_about_features_section {
    background: #f4fbfb;
    .schoolna_about_features_content {
      .schoolna_info_item {
        flex-direction: row-reverse;
        .image {
          background: transparent;
          width: 50%;
          @media (max-width: 767px) {
            width: 100%;
          }
          img {
            object-fit: contain;
          }
          .p-image-preview {
            position: unset;
            box-shadow: unset !important;
            .p-image-preview-mask {
              display: none;
            }
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }

  section.schoolna_hero .schoolna_info_list {
    flex-wrap: wrap !important;
    li {
      border-radius: 12px !important;
      text-align: start;
      gap: 8px;
      @include textTruncate(2);
      max-width: 48%;
      padding: 8px 40px 5px;
    }
    @media (max-width: 767px) {
      flex-wrap: wrap !important;
      li {
        width: 100% !important;
        @include textTruncate(unset);
      }
    }
  }
}

// HANDLE STYLING LOGIN PAGE
.login_page {
  .language_switch {
    margin: 150px auto 0;
    .input {
      width: 150px;
      margin-inline: auto;
      ul.languages-switch {
        width: 100% !important;
        a {
          background: #fff;
          color: $mainColor;
          width: 100%;
          margin-inline: auto;
          border-radius: 8px;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          display: flex;
          justify-content: center;
          width: 100% !important;
          padding-block: 10px;
          width: 100%;
          transition: 0.2s;
          &:hover {
            background: $mainColor;
            color: #fff;
          }
        }
      }
    }
  }
}

// STYLE THE BREADCRUMP
.breadcrumb {
  position: relative;
  z-index: 9;
  min-height: 280px;
  padding-block: 30px;
  background: linear-gradient(84deg, #007593 3.25%, #044d60 96.85%);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    min-height: 158px;
    height: fit-content;
    z-index: -2;
    background: url("/assets/images/clouds.svg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: top;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  .breadcrumb_section_content,
  .schoolna_breadcrumb_content {
    @include displayFlex($justify: flex-start, $gap: 12px);
    padding-inline: 0 !important;
    color: #fff;
    a {
      font-size: 16px;
      font-weight: 400;
      &:first-of-type {
        color: #ffffffb2;
      }
    }
  }
}

// TIME LINE AT BOARD INDEX PAGE
.p-timeline-event-marker::before {
  width: 100% !important;
  height: 100% !important;
  background: #3b6da7 !important;
}

.p-timeline-vertical.p-timeline-alternate
  .p-timeline-event:nth-child(odd)
  .p-timeline-event-opposite {
  display: flex;
  justify-content: flex-end;
  text-align: start !important;
}

.p-timeline-event-connector {
  background: linear-gradient(90deg, #56c5ff 0%, #021748 100%) !important;
}

@media (max-width: 567px) {
  .p-timeline-vertical.p-timeline-alternate
    .p-timeline-event:nth-child(odd)
    .p-timeline-event-content,
  .p-timeline-vertical.p-timeline-alternate
    .p-timeline-event:nth-child(even)
    .p-timeline-event-content,
  .p-timeline-event-separator {
    display: none !important;
  }
}

.schoolna_info_item {
  @include displayFlex($justify: space-between);
  .image {
    width: 40%;
    height: 388px;
    flex-shrink: 0;
    position: relative;
    background: url(/assets/images/portal_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-inline-end: auto;
    position: relative;
    .module_number {
      position: absolute;
      inset-inline-start: 15px;
      border-radius: 0 0 50px 50px;
      background: #fc800a;
      color: #fff;
      padding: 12px 8px;
      height: 105px;
      text-align: center;
      z-index: 99;
      font-size: 40px;
      font-weight: 500;
      span {
        font-size: 14px;
        display: block;
      }
    }
    .p-image-preview,
    video {
      position: absolute;
      inset-inline-start: 25px;
      top: 25px;
      border-radius: 16px;
      overflow: hidden;
      width: 100%;
      height: 388px;
      object-fit: cover;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: 1s;
      cursor: pointer;
    }
    button.video_player {
      position: absolute;
      inset-inline-start: 50%;
      top: 50%;
      transform: scale(1.3);
      z-index: 9;
    }
  }
  .schoolna_info_text {
    max-width: 50%;
  }

  &:nth-of-type(even),
  &.reversed_item {
    flex-direction: row-reverse;
    .image {
      margin-inline-start: auto;
      .p-image-preview,
      video {
        inset-inline-start: -25px;
      }
      button.video_player {
        inset-inline-start: unset;
        inset-inline-end: 50%;
      }
    }
    &:hover {
      button.video_player {
        transform: translate(50%, -50%) scale(1.3);
      }
    }
  }
  &:not(:last-of-type) {
    margin-bottom: 48px;
  }
  &:hover {
    .image {
      .p-image-preview,
      video {
        top: 0;
        inset-inline-start: 0;
        box-shadow: none;
      }
    }
    button.video_player {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }
  @media (max-width: 680px) {
    flex-wrap: wrap;
    gap: 30px;
    .schoolna_info_text {
      max-width: 100% !important;
    }

    .image {
      max-width: 500px;
      margin: 0 auto;
      width: 95%;
    }
  }
}
