@use "sass:math";

// DISPLAY FLEX MIXIN
@mixin displayFlex(
  $direction: row,
  $align: center,
  $justify: center,
  $wrap: nowrap,
  $gap: 10px 20px
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}

/* display grid mixin 
 DEFAULT VALUE 265PX DIVIDE WRAPPER TO 3 COLUMS 
 YOU NEED TO PUT VALUE IN MIXIN WITH PX  >>>  EXAMPLE 
@include displayGrid(265px);
*/
@mixin displayGrid($px: 265px, $gap: 20px, $fit: auto-fill) {
  display: grid;
  grid-template-columns: repeat($fit, minmax($px, 1fr));
  gap: $gap;
}

/*
---TEXT TRUNCATE
> $lines => the max number of lines to show before ellipses.
> $maxWidth => max width of text element.
*/
@mixin textTruncate($lines: 2, $maxWidth: 100%) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  max-width: $maxWidth;
  text-overflow: ellipsis;
  text-wrap: pretty;
}

/*
---CIRCLE MIXIN
> $width => width of circle.
> $height => height of circle.
> $bg => background color of circle.
> $radius => border radius of circle.
*/
@mixin circle($value: 40px, $radius: 50%) {
  height: $value;
  width: $value;
  border-radius: $radius;
  overflow: hidden;
}

$step: 5;
$count: math.div(100, $step);

@for $i from 1 through $count {
  $value: $i * $step;

  .w-\[#{$value}\%\] {
    width: $value * 1% !important;
    // max-width: $value * 1% !important;
    display: flex !important;
    justify-content: center !important;
    overflow: hidden !important;
  }
}
